body{
background : #5CDB95;
}
 .carousel-inner img {
    width: 100%;
    height: 100%;
  }
.navigation {
	 height: 60px;
	 background: #262626;
}
.brand img:hover{
opacity: 0.5;
 animation: shake 0.5s;
  animation-iteration-count: infinite;
}
 .brand {
	 position: absolute;
	 padding-left: 5px;
	 float: left;
	 line-height: 50px;
	 text-transform: uppercase;
	 font-size: 1.4em;
}
 .brand a, .brand a:visited {
	 color: #fff;
	 text-decoration: none;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding : 10px;
   width: 100%;
   color: white;
   background-color: rgba(0, 0, 0, 0.2);
   text-align: center;
}

 .nav-container {
	 max-width: 1000px;
	 margin: 0 auto;
}
 nav {
	 float: right;
}
 nav ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 nav ul li {
	 float: left;
	 position: relative;
}
 nav ul li a, nav ul li a:visited {
	 display: block;
	 padding: 0 10px;
	 line-height: 60px;
	 background: #262626;
	 color: #5CDB95;
	 text-decoration: none;
}
 nav ul li a:hover, nav ul li a:visited:hover {
	 background: #2581dc;
	 color: #fff;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
	 padding-left: 4px;
	 content: ' ▾';
}
 nav ul li ul li {
	 min-width: 190px;
}
 nav ul li ul li a {
	 padding: 15px;
	 line-height: 20px;
}
 .nav-dropdown {
	 position: absolute;
	 display: none;
	 z-index: 1;
	 box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
 .nav-mobile {
	 display: none;
	 position: absolute;
	 top: 0;
	 right: 0;
	 background: #262626;
	 height: 60px;
	 width: 60px;
}
 @media only screen and (max-width: 798px) {
	 .nav-mobile {
		 display: block;
	}
	 nav {
		 width: 100%;
		 padding: 60px 0 15px;
	}
	 nav ul {
		 display: none;
	}
	 nav ul li {
		 float: none;
	}
	 nav ul li a {
		 padding: 15px;
		 line-height: 20px;
	}
	 nav ul li ul li a {
		 padding-left: 30px;
	}
	 .nav-dropdown {
		 position: static;
	}
}
 @media screen and (min-width: 799px) {
	 .nav-list {
	 display: block !important;
	}
}
 #nav-toggle {
	 position: absolute;
	 left: 18px;
	 top: 22px;
	 cursor: pointer;
	 padding: 10px 35px 16px 0px;
}
 #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	 cursor: pointer;
	 border-radius: 1px;
	 height: 5px;
	 width: 35px;
	 background: #fff;
	 position: absolute;
	 display: block;
	 content: '';
	 transition: all 300ms ease-in-out;
}
 #nav-toggle span:before {
	 top: -10px;
}
 #nav-toggle span:after {
	 bottom: -10px;
}
 #nav-toggle.active span {
	 background-color: transparent;
}
 #nav-toggle.active span:before, #nav-toggle.active span:after {
	 top: 0;
}
 #nav-toggle.active span:before {
	 transform: rotate(45deg);
}
 #nav-toggle.active span:after {
	 transform: rotate(-45deg);
}
 article {
	 max-width: 1000px;
	 margin: 0 auto;
	 padding: 10px;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}