<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Table Tennis ScoreBoard</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/style.js}"></script>
</head>
<body>
<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a th:href="@{/}"><img src="/pictures/ScoreBoard-logos_white.png" width="10%" height="10%" >
            </a>
        </div>
    </div>
</section>

    <div class="container" th:style="'background: url(/pictures/bg.jpg) no-repeat center center fixed;width: 50%;'">
        <form th:action="@{/selectTeamTT}" th:object="${teamData}" method="Get">
   <label class="form-label">Select Team A</label>
            <select class="form-select">
                <option selected>Choose One Team</option>
            <option th:each="teamData :${listTeam}"
                    th:value="${teamData.id}"
                    th:text="${teamData.teamName}"></option>
            </select>
            <hr>
   <label class="form-label">Select Team B</label>
    <select class="form-select">
        <option selected>Choose One Team</option>
        <option th:each="teamData :${listTeam}"
                th:value="${teamData.id}"
                th:text="${teamData.teamName}"></option>
    </select>
            <hr>
            <label class="form-label">Select Player A</label>
            <select class="form-select">
                <option selected>Choose One Player</option>
                <option th:each="playerData :${listPlayer}"
                        th:value="${playerData.id}"
                        th:text="${playerData.playerName}"></option>
            </select>
            <hr>
            <label class="form-label">Select Player B</label>
            <select class="form-select">
                <option selected>Choose One Player</option>
                <option th:each="playerData :${listPlayer}"
                        th:value="${playerData.id}"
                        th:text="${playerData.playerName}"></option>
            </select>
        </form>
    </div>

<div class="footer">© 2021 Copyright:<a class="text-white" href="https://lng-consultancy.com/"> L&G Consultancy</a></div>
</body>
</html>